// Generate by Protoss
@mixin sprite-svg($filename) {
  width: nth($filename, 5);
  height: nth($filename, 6);
  background-image: url('#{$pathToImages}sprites-svg/' +  nth($filename, 7));
  background-size: nth($filename, 3) nth($filename, 4);
  background-position: (nth($filename, 1) - 4) (nth($filename, 2) - 4) ; // sprite padding include
  background-repeat: no-repeat;
}

$sprite-ui-folder: 0px 0px 72px 140px 64px 60px 'ui.svg' 'false';
$sprite-ui-folder-2: 0px -68px 72px 140px 64px 64px 'ui.svg' 'false';
