@import "variables";
@import "_mixins/**/*.scss";
@import "_sprites/**/*.scss";

@import "../../node_modules/normalize.css/normalize.css";

body {
  padding: 20px;
}

.social {
  display: inline-block;
  margin: 0 5px 5px 0;

  &--fb {
    @include sprite($sprite-social-fb);
  }

  &--twitter {
    @include sprite($sprite-social-twitter);
  }
}

.folder {
  display: block;
  @include sprite-svg($sprite-ui-folder);
}

.svg-icon {
  width: 36px;
  height: 36px;
  fill: #18b5fd;
}